<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="map" style="width:600px;height:400px;">
                	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=00724106dd7f78df2178c577988b8039"></script>
                	<script>
	                	var markers = [
	                	    {
	                	        position: new kakao.maps.LatLng(37.5588966804188, 126.80281133197248),
	                	    	text: '김포공항'
	                	    },
	                	    {
	                	        position: new kakao.maps.LatLng(37.449446593373146, 126.45040864741331), 
	                	        text: '인천공항'
	                	    }
	                	];	
                	
	                	var staticMapContainer = document.getElementById('staticMap'), // 이미지 지도를 표시할 div  
	                    staticMapOption = { 
	                        center: new kakao.maps.LatLng(36.034681485295046, 127.87507964858708), // 이미지 지도의 중심좌표
	                        level: 13, // 이미지 지도의 확대 레벨
	                        marker: markers // 이미지 지도에 표시할 마커 
	                    };    

		                // 이미지 지도를 생성합니다
		                var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
					</script>
                </div>
</body>
</html>